
<h3 id="userTest">
 <script>
    document.getElementById("userTest").innerHTML = `Hello, ${getUser()} <br><span class="lead">here are the recipes that match your query</span>`
</script>
</h3>

<% recipes.forEach((rec) => { %>

<ul class="recipes-list">
    <li class="lead"><%= rec.strMeal %></li>
    <li><img style="width:150px;" src="<%= rec.strMealThumb %>"/></li><br>
    <!-- <li><a href="<%= rec.video %>" target="_blank">Video Link</a></li>
    <li><a href="<%= rec.source %>" target="_blank">Website Link</a></li> -->
    <li><button onclick="saveRecipe(<%= rec.idMeal %>)">❤️ &nbsp;Save Recipe</button></li>

</ul>
<hr>

<% }); %>

<span class="to-top"><a href="#top">Back to top</a></span>





